body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    transition: backround 03.2 ease-in-out, color 0.3 ease-in-out;
}

.kontainer{
    max-width: 400px;
    margin: 60px auto;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);
}